version: "3.1"

services:
  rabbitmq:
    image: docker.repos.balad.ir/rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - 5672:5672
      - 15672:15672
    volumes:
      - ~/.docker-conf/rabbitmq/data/:/var/lib/rabbitmq/
      - ~/.docker-conf/rabbitmq/log/:/var/log/rabbitmq

  db-doctor:
    restart: always
    image: docker.repos.balad.ir/postgres:latest
    container_name: db-doctor
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
      - POSTGRES_PORT=5432
    ports:
      - "5432:5432"
    volumes:
      - doctor-db:/var/lib/postgresql/data/
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro

  db-patient:
    restart: always
    image: docker.repos.balad.ir/postgres:latest
    container_name: db-patient
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
      - POSTGRES_PORT=5432
    ports:
      - "5433:5432"
    volumes:
      - patient-db:/var/lib/postgresql/data/
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro

  pgadmin:
    image: docker.repos.balad.ir/dpage/pgadmin4
    container_name: pgadmin
    depends_on:
      - db-doctor
      - db-patient
    ports:
      - "5051:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: pgadmin4@pgadmin.org
      PGADMIN_DEFAULT_PASSWORD: pgadmin
    restart: always

  doctor:
    build: projects/doctor/
    volumes:
      - ./projects/doctor/:/code
    ports:
      - "8001:8000"
    environment:
      - POSTGRES_NAME=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    depends_on:
      - db-doctor
  patient:
    build: projects/patient/
    volumes:
      - ./projects/patient/:/code
    ports:
      - "8002:8000"
    environment:
      - POSTGRES_NAME=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    depends_on:
      - db-patient
volumes:
  doctor-db:
  patient-db:
